.foo{
    color:red;
}
.foo{
    color:red;
}
.foo{
    color:red;
}
.bar{
    color:green;
}
.baz{
    color:yellow;
}
.foo__bar{
    color:red;
}
.bar__baz{
    color:green;
}
.baz__foo{
    color:yellow;
}
.foo--bar{
    color:red;
}
/* comment file.scss */
.bar--baz{
    color:green;
}
.baz--foo{
    color:yellow;
}
.foo-bar-baz{
    color:red;
}
.foo--bar--baz{
    color:green;
}
.foo__bar__baz{
    color:yellow;
}
@media (min-width: 30em) and (max-width: 60em) {
    .foo--media {
        color:red;
    }
}

body {
    color: yellow;
}